*{
    margin: 0;
    padding: 0;
}
.container-fluid a img{
    width: 150px;
    height: 100%;
}
.navbar-nav .nav-item {
    padding:10px 20px;
}
.p-3 button{
    border-radius:10px;
}
.container h1{
    margin-top:35px;
}
.container .row .col .p-3 img{
    background-position: center ;
}
.owl-theme .owl-dots{
    display: none;
}
.owl-nav .owl-prev span{
    font-size:50px;
}
.owl-nav .owl-next span{
    font-size:50px;
}
